<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Liberating the Seattle Freeze. We organize social events to connect people who love to have fun, party and like to go crazy (in a good way)!">
        <!--Site verifications-->
        <title>Seattle Social Circle</title>
        
        <!--open graph meta tags-->
        <meta property="og:url" content="http://seattlesocialcircle.herokuapp.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Liberating The Seattle Freeze"/>
        <meta property="og:description" content="We organize a series of social events to get friends of friends together, to connect people who love to have fun, party and like to go crazy (in a good way)!"/>
        <meta property="og:image" content="http://seattlesocialcircle.herokuapp.com/img/openGraph.jpg"/>
        <meta property="og:image:width" content="960"/>
        <meta property="og:image:height" content="546"/>
        
        <!--favicon-->
        <link rel="icon" href="img/favicon.png">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--modernizr-->
        <script src="/js/modernizr-custom.js"></script>
        
    </head>
    <body>

<!--nav element-->
<nav class="navbar navbar-transparent navbar-initial">
    <div class="navbar-brand text-shadow">
        <div class="d-flex justify-content-center align-items-baseline flex-wrap">
            <div class="info-icons">
                <a href="https://www.facebook.com/SeattleSocialCircle/" class="navbar-brand mr-3"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/seattlesocialcircle/" class="navbar-brand mr-3"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <div class="toggler-btn">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link pr-2" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="#about">About</a>
            </li>
             <li class="nav-item pr-2">
                <a class="nav-link " href="#upcoming">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="#events">Events</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link " href="#team">Team</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link " href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>