<% include ./partials/header %>

<div class="snap-container">
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Artist Title 1</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/charityArt.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/charityArt.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/charityArt.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Artist Title 2</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/charityDancer.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/charityDancer.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/charityDancer.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Artist Title 3</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet.</h1>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/winterSinger.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/winterSinger.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/winterSinger.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Artist Title 4</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/winterDJ.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/winterDJ.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/winterDJ.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Artist Title 5</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/winterArtist.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/winterArtist.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/winterArtist.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Artist Title 5</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/charityPerformer.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/charityPerformer.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/charityPerformer.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
            <div class="row full-page-no-pm">
                <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="title2-white">Artist Title 5</h1>
                        <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                        <picture>
                            <source srcset="img/summerSingerBox.webp" type="image/webp" class="img-fluid art-img">
                            <source srcset="img/summerSingerBox.jpg" type="image/jpeg" class="img-fluid art-img"> 
                            <img src="img/summerSinger.jpg" alt="photo" class="img-fluid art-img">
                        </picture>
                    </div>
            </div>
        </div>
</div>

<% include ./partials/footer %>