<% include ./partials/header %>

<div class="snap-container">
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Scarlet Parke</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                    <a href="https://www.scarletparke.com/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/summerSingerBox.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/summerSingerBox.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/summerSingerBox.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Denna Francesca</h1>
                    <h1 class="title4">
                        Denna is a singer, songwriter, dancer, and actress based in Seattle. She’s trained in many
                        styles ranging from R&amp;B and soul to opera and musical theater. She has sung at the Neptune,
                        Moore, and Paramount theaters, has appeared on King FM, and is a proud YoungArts Alum.
                        She is also an active member of the Seattle dance community, and teaches voice lessons.
                    </h1>
                    <a href="https://www.instagram.com/dennafrancescamusic/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Veronica Lynn Harper</h1>
                    <h1 class="title4">
                        A visual artist with a background of traditional art, VFX animation,
                        and immersive artistic event directing. 15 Professional Years in
                        Entertainment &amp; Design Industry, Film Industry, Team Leadership
                        &amp; Management, Art Direction, Fashion Industry, Sponsorships,
                        Event Planning, Workshops, Live Painter, Stage Performer &amp; Dancer,
                        Instructor, Branding, Marketing, Design, AR/VR, Motion Capture,
                        Graphic Design, Websites, Immersive Technology,
                        Gallery &amp; Museum Exhibitions, Model, Photographer &amp; Videographer
                        Management, Art Direction, Performance Stage &amp; Art Installations.
                    </h1>
                    <a href="https://veronicalynnharper.com/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Mi Esencia Seattle</h1>
                    <h1 class="title4">
                        We are a group of bachata addicts dedicated to educating and spreading
                        the love of dance with the community by providing quality dance experience
                        from social dances to music to workshops.
                    </h1>
                    <a href="https://www.facebook.com/MiEsenciaSeattle/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/MiEsenciaSeattle.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/MiEsenciaSeattle.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/MiEsenciaSeattle.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Bobby Rice</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet.</h1>
                    <a href="#" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/BobbyRice.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/BobbyRice.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/BobbyRice.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Lana Medina</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                    <a href="#" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/LanaMedina.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/LanaMedina.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/LanaMedina.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Drop Squad</h1>
                    <h1 class="title4">
                        Drop Squad is a community of Seattle-based dancers specializing in Urban
                        Dance - a mixture of hip hop styles and jazz funk.
                    </h1>
                    <a href="https://www.facebook.com/dropsquadcrew/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/DropSquad.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/DropSquad.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/DropSquad.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
        <div class="row full-page-no-pm">
            <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title2-white">Iris Kymm</h1>
                    <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                    <a href="https://www.facebook.com/iriskymm/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                </div>
            </div>
            <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                    <picture>
                        <source srcset="img/winterSinger.webp" type="image/webp" class="img-fluid art-img">
                        <source srcset="img/winterSinger.jpg" type="image/jpeg" class="img-fluid art-img"> 
                        <img src="img/winterSinger.jpg" alt="photo" class="img-fluid art-img">
                    </picture>
                </div>
        </div>
    </div>
    <div class="container-fluid snap-child">
            <div class="row full-page-no-pm">
                <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="title2-white">Shawn Russel McClure</h1>
                        <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                        <a href="#" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                    </div>
                </div>
                <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                        <picture>
                            <source srcset="img/winterArtist.webp" type="image/webp" class="img-fluid art-img">
                            <source srcset="img/winterArtist.jpg" type="image/jpeg" class="img-fluid art-img"> 
                            <img src="img/winterArtist.jpg" alt="photo" class="img-fluid art-img">
                        </picture>
                    </div>
            </div>
        </div>
        <div class="container-fluid snap-child">
            <div class="row full-page-no-pm">
                <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="title2-white">Diamond Heights Entertainment</h1>
                        <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                        <a href="http://www.diamondheights.org/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                    </div>
                </div>
                <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                        <picture>
                            <source srcset="img/winterDJ.webp" type="image/webp" class="img-fluid art-img">
                            <source srcset="img/winterDJ.jpg" type="image/jpeg" class="img-fluid art-img"> 
                            <img src="img/winterDJ.jpg" alt="photo" class="img-fluid art-img">
                        </picture>
                    </div>
            </div>
        </div>
        <div class="container-fluid snap-child">
            <div class="row full-page-no-pm">
                <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="title2-white">Cam Tu Nguyen & Jaime Rubio</h1>
                        <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                        <a href="#" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                    </div>
                </div>
                <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                        <picture>
                            <source srcset="img/charityDancer.webp" type="image/webp" class="img-fluid art-img">
                            <source srcset="img/charityDancer.jpg" type="image/jpeg" class="img-fluid art-img"> 
                            <img src="img/charityDancer.jpg" alt="photo" class="img-fluid art-img">
                        </picture>
                    </div>
            </div>
        </div>
        <div class="container-fluid snap-child">
            <div class="row full-page-no-pm">
                <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="title2-white">Andrea Rojas and Tim Hedberg</h1>
                        <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                        <a href="#" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                    </div>
                </div>
                <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                        <picture>
                            <source srcset="img/charityPerformer.webp" type="image/webp" class="img-fluid art-img">
                            <source srcset="img/charityPerformer.jpg" type="image/jpeg" class="img-fluid art-img"> 
                            <img src="img/charityPerformer.jpg" alt="photo" class="img-fluid art-img">
                        </picture>
                    </div>
            </div>
        </div>
        <div class="container-fluid snap-child">
            <div class="row full-page-no-pm">
                <div class="col-12 col-lg-5 mx-auto black-background artist-p-left d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="title2-white">Alexandra Serdyuk</h1>
                        <h1 class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci.</h1>
                        <a href="https://www.facebook.com/AlXUV/" class="btn artist-btn nounderline mt-3" target="_blank">view website</a>
                    </div>
                </div>
                <div class="col-12 col-lg-7 m-auto text-center artist-p-right">
                        <picture>
                            <source srcset="img/charityArt.webp" type="image/webp" class="img-fluid art-img">
                            <source srcset="img/charityArt.jpg" type="image/jpeg" class="img-fluid art-img"> 
                            <img src="img/charityArt.jpg" alt="photo" class="img-fluid art-img">
                        </picture>
                    </div>
            </div>
        </div>
</div>

<% include ./partials/footer %>