<% include ./partials/header %>

<div class="snap-container">
    <div class="container-fluid snap-child">
        <div class="row past-banner align-items-center">
            <div class="col-11 mx-auto text-center">
                <h1 class="title1">artists</h1>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-5 snap-child">
        <div class="row full-page">
           <div class="col-10 mx-auto text-center py-3">
                <h1 class="title2">Artists Title</h1>
               <div class="mb-3"></div>
               <h4 class="text-muted">All artists in this section</h4>
           </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>