<% include ./partials/header %>

<div class="container">
    <div class="row full-page text-center">
        <div class="col-10 m-auto">
            <h1 class="title3">Thanks for getting in touch <%= data.name %>!</h1>
            <div class="red-underline"></div>
            <h1 class="title4">Your email was sent to info@seattlesocialcircle.com. We will reply to you at <%= data.mail %>.</h1>
            <a href="/" class="btn page-btn nounderline my-3">Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>