<% include ./partials/header %>

<div class="container-fluid">
    <div class="row past-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1">PAST EVENTS</h1>
        </div>
    </div>
</div>

<!--UPCOMING SECTION-->
<div id="upcoming" class="container-fluid">
    <div class="row">
        <div class ="col-11 mx-auto">
            <h1 class="title2a">Upcoming Events</h1>
        </div>
    </div>
    <div class="row upcoming-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1 text-shadow mb-3">Winter is Ending</h1>
            <a href="#" class="btn btn-lg banner-btn">PARTY IS COMING</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row">
       <div class="col-10 mx-auto text-center py-3">
            <h1 class="title2">Since 2017</h1>
           <div class="mb-3"></div>
           <h4 class="text-muted">All past events since our first party in 2017!</h4>
       </div>
    </div>
</div>

<!--WINTER SOIREE SECTION-->
<div id="events" class="container-fluid">
    <div class="row winter-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1 text-shadow-blue mb-3">A Winter Soirée</h1>
            <a href="#" class="btn btn-lg banner-btn">gallery</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-5 my-3">
           <div class="youtube-player" data-id="7KbMC7nnlj8"></div>
        </div>
        <div class="col-10 col-lg-5 my-3">
            <h1 class="title3">Our Largest Event Yet</h1>
            <h4 class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        </div>
    </div>
    <div class="row">
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/winterDJ.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/winterDJ.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/winterDJ.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="http://www.diamondheights.org/">
                   <h3 class="text-center text-shadow event-photo-link">Diamond Heights</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/winterPig.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/winterPig.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/winterPig.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Whistle Pig</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/winterArtist.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/winterArtist.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/winterArtist.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Shawn McClure</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/winterSinger.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/winterSinger.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/winterSinger.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="https://www.instagram.com/iriskymm">
                   <h3 class="text-center text-shadow event-photo-link">Iris<br>Kymm</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
</div>

<div class="container pt-3 pb-5">
  <!--title row-->
  <div class="row">
    <div class="col-11 mx-auto">
        <h6>SPONSORED BY</h6>
    </div>
  </div>
  <!--end of title row-->
  <div class="row px-3">
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picHomeSmart.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picHomeSmart.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picHomeSmart.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoSebis.png" alt="photo" class="img-fluid photo-img">
               <a href="http://sebisbistro.com/onlinemenu">
                   <picture>
                      <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoYum.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picYum.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picYum.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picYum.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoBuchaBelly.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                    <picture>
                      <source srcset="img/picBuchaBelly.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picBuchaBelly.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picBuchaBelly.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoWhistlePig.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picWhistlePig.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picWhistlePig.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picWhistlePig.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
    </div>
</div>

<!--CHARITY GALA SECTION-->
<div class="container-fluid">
    <div class="row charity-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1 text-shadow-gold mb-3">Circle of Giving</h1>
            <a href="#" class="btn btn-lg banner-btn">gallery</a>
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="row">
        <div class="col-10 mx-auto col-lg-6 my-3">
           <div class="youtube-player" data-id="YdE2P0LK1G0"></div>
        </div>
        <div class="col-10 mx-auto col-lg-6 my-3">
            <h1 class="title3">First Annual<br>Charitable Gala</h1>
            <h4 class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        </div>
    </div>
    <div class="row">
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/charityArt.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/charityArt.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/charityArt.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Artwork</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/charityDJ.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/charityDJ.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/charityDJ.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Musician</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/charityPerformer.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/charityPerformer.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/charityPerformer.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Performer</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/charityDancer.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/charityDancer.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/charityDancer.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Dancer</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
</div>

<div class="container pt-3 pb-5">
  <!--title row-->
  <div class="row">
    <div class="col-11 mx-auto">
        <h6>SPONSORED BY</h6>
    </div>
  </div>
  <!--end of title row-->
  <div class="row px-3">
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoEO.png" alt="photo" class="img-fluid photo-img">
               <a href="http://sebisbistro.com/onlinemenu">
                   <picture>
                      <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoLaunchParty.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoFC.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoYPOS.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!--end single photo-->
    </div>
</div>

<!--SUMMER SOIREE SECTION-->
<div class="container-fluid pb-5">
    <div class="row summer-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1 text-shadow-red mb-3">farewell to summer </h1>
            <a href="#" class="btn btn-lg mb-5 banner-btn">GALLERY</a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto my-3">
            <h1 class="title3">2018 Soirée</h1>
            <h4 class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        </div>
    </div>
    <div class="row">
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/summerDJ.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/summerDJ.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/summerDJ.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">DJ</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/summerSinger.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/summerSinger.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/summerSinger.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Singer</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <picture>
                  <source srcset="img/summerGallery.webp" type="image/webp" class="img-fluid event-photo-img">
                  <source srcset="img/summerGallery.jpg" type="image/jpeg" class="img-fluid event-photo-img"> 
                  <img src="img/summerGallery.jpg" alt="photo" class="img-fluid event-photo-img">
                </picture>
               <a href="/">
                   <h3 class="text-center text-shadow event-photo-link">Performer</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
</div>

<!--SPRING FEVER SECTION-->
<div class="container-fluid pb-5">
    <div class="row spring-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1 text-shadow-purple mb-3">spring fever party</h1>
            <a href="#" class="btn btn-lg mb-5 banner-btn">GALLERY</a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-lg-6 my-3">
           <div class="youtube-player" data-id="d1mGWgp4uto"></div>
        </div>
        <div class="col-10 mx-auto col-lg-6 my-3">
            <h1 class="title3">Featuring</h1>
            <h4 class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        </div>
    </div>
</div>

<!--HOLIDAY MIXER SECTION-->
<div class="container-fluid py-5">
    <div class="row holiday-banner align-items-center">
        <div class="col-11 mx-auto text-center">
            <h1 class="title1 text-shadow mb-3">HOLIDAY SOCIAL MIXER</h1>
            <a href="#" class="btn btn-lg mb-5 banner-btn">GALLERY</a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-lg-6 my-3">
           <picture>
              <source srcset="img/holidayMixer.webp" type="image/webp" class="img-fluid circle-photo">
              <source srcset="img/holidayMixer.jpg" type="image/jpeg" class="img-fluid circle-photo"> 
              <img src="img/holidayMixer.jpg" alt="holiday mixer" class="img-fluid circle-photo">
            </picture>
        </div>
        <div class="col-10 mx-auto col-lg-6 my-3">
            <h1 class="title3">Our Founding Event</h1>
            <h4 class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        </div>
    </div>
</div>

<% include ./partials/footer %>