<% include ./partials/header %>

<div class="snap-container">
<!-- UPCOMING -->
<div id="events" class="container-fluid snap-child">
    <div class="row full-page-no-pm">
        <div class="col">
            <div class="row upcoming-banner d-flex align-items-center justify-content-center">
                <div class="col-10 m-auto text-center">
                    <h1 class="title2-yellow text-shadow">Our Next Event</h1>
                    <h1 class="title1-white">WINTER IS ENDING</h1>
                    <a href="#" class="btn btn-lg banner-btn title4">PARTY IS COMING</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--WINTER SOIREE SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">A Winter Soirée</h1>
            <div class="youtube-player" data-id="7KbMC7nnlj8"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">Our Largest Event Yet</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Our 2019 Winter Soirée was held at The Collective Seattle and sponsored by Chris Bajuk Real Estate, Sebi's Bistro, Yum Brigadeiro, WhistlePig Whiskey, and Bucha Belly. Featured artists included DJs from Diamond Heights Entertainment, Drop Squad, Iris Kymm, and Shawn Russel McClure.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=582389468902418">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
        <div class="col-12 mx-auto black-background pt-5">
            <div style="padding-top:40px; padding-bottom:20px;">
                <h1 class="title1 text-center text-uppercase">A Winter Soirée</h1>
                <h1 class="title3 text-center">Our Largest Event Yet</h1>
                <div class="red-underline"></div>
                <div class="mx-auto event-max-width">
                        <div class="youtube-player" data-id="7KbMC7nnlj8"></div>
                    </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-center">
                <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=582389468902418">Gallery</a>
        </div>
    </div>
</div>

<!--CHARITY GALA SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">circle of giving</h1>
            <div class="youtube-player" data-id="YdE2P0LK1G0"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">First Annual Charitable Gala</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">In collaboration with Young Professionals of Seattle, Epic Odyssey, and Lanuch Party, all proceeds went to the Friendship Circle of Seattle whose mission is to support children with special needs. Held at The Collective Seattle. Featured artists included Scarlet Parke, Maxim Kolesnikov, Alexandra Serdyuk, Ani Nguyen, and DJs from Diamond Heights and Sleepless. Sponsored by Level Float Spa, Diamond Heights Entertainment, Juan Alonso Studio, Logic Inbound, The Anderson Group, WhistlePig Whiskey, Enagic, and Pam's Kitchen.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=524249151383117">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
            <div class="col-12 mx-auto black-background pt-5">
                <div style="padding-top:40px; padding-bottom:20px;">
                    <h1 class="title1 text-center text-uppercase">circle of giving</h1>
                    <h1 class="title3 text-center">First Annual Charitable Gala</h1>
                    <div class="red-underline"></div>
                    <div class="mx-auto event-max-width">
                            <div class="youtube-player" data-id="YdE2P0LK1G0"></div>
                        </div>
                </div>
            </div>
            <div class="col-12 mx-auto text-center">
                    <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=524249151383117">Gallery</a>
            </div>
        </div>
</div>

<!--SUMMER SOIREE SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Farewell to summer</h1>
            <picture>
                <source srcset="img/summerSinger.webp" type="image/webp" class="img-fluid">
                <source srcset="img/summerSinger.jpg" type="image/jpeg" class="img-fluid"> 
                <img src="img/summerSinger.jpg" alt="photo" class="img-fluid">
            </picture>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">2018 Summer Soirée</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Sponsored by Bucha Belly and held at the wonderful venue The Collective Seattle. Featured artists included Scarlet Parke and DJs Austin Robertson (Big Boppa), Geoffrey Hutchings (DA33L€), Tyler Tucker (Rndm Chld), and Gorden Natalenko.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=500875077053858">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
        <div class="row full-page-no-pm">
                <div class="col-12 mx-auto black-background pt-5">
                    <div style="padding-top:40px; padding-bottom:20px;">
                        <h1 class="title1 text-center text-uppercase">Farewell to summer</h1>
                        <h1 class="title3 text-center">2018 Summer Soirée</h1>
                        <div class="red-underline"></div>
                        <div class="mx-auto event-max-width">
                                <picture>
                                        <source srcset="img/summerSinger.webp" type="image/webp" class="img-fluid">
                                        <source srcset="img/summerSinger.jpg" type="image/jpeg" class="img-fluid"> 
                                        <img src="img/summerSinger.jpg" alt="photo" class="img-fluid">
                                    </picture>
                            </div>
                    </div>
                </div>
                <div class="col-12 mx-auto text-center">
                        <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=500875077053858">Gallery</a>
                </div>
            </div>
</div>

<!--SPRING FEVER SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">spring fever party</h1>
            <div class="youtube-player" data-id="d1mGWgp4uto"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">2018 Spring Social</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=385015438639823">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
        <div class="row full-page-no-pm">
                <div class="col-12 mx-auto black-background pt-5">
                    <div style="padding-top:40px; padding-bottom:20px;">
                        <h1 class="title1 text-center text-uppercase">spring fever party</h1>
                        <h1 class="title3 text-center">2018 Spring Social</h1>
                        <div class="red-underline"></div>
                        <div class="mx-auto event-max-width">
                                <div class="youtube-player" data-id="d1mGWgp4uto"></div>
                            </div>
                    </div>
                </div>
                <div class="col-12 mx-auto text-center">
                        <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=385015438639823">Gallery</a>
                </div>
            </div>
</div>

<!--HOLIDAY MIXER SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Holiday Social Mixer</h1>
            <picture>
                <source srcset="img/holidayMixer.webp" type="image/webp" class="img-fluid">
                <source srcset="img/holidayMixer.jpg" type="image/jpeg" class="img-fluid"> 
                <img src="img/holidayMixer.jpg" alt="photo" class="img-fluid">
            </picture>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">Our Founding Event</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">This was our very first party! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, incidunt.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=335043483637019">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
            <div class="col-12 mx-auto black-background pt-5">
                <div style="padding-top:40px; padding-bottom:20px;">
                    <h1 class="title1 text-center text-uppercase">Holiday Social Mixer</h1>
                    <h1 class="title3 text-center">Our Founding Event</h1>
                    <div class="red-underline"></div>
                    <div class="mx-auto event-max-width">
                            <picture>
                                    <source srcset="img/holidayMixer.webp" type="image/webp" class="img-fluid">
                                    <source srcset="img/holidayMixer.jpg" type="image/jpeg" class="img-fluid"> 
                                    <img src="img/holidayMixer.jpg" alt="photo" class="img-fluid">
                                </picture>
                        </div>
                </div>
            </div>
            <div class="col-12 mx-auto text-center">
                    <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=335043483637019">Gallery</a>
            </div>
        </div>
</div>

<% include ./partials/footer %>