<% include ./partials/header %>

<div class="snap-container">
<!-- UPCOMING -->
<div id="events" class="container-fluid snap-child">
    <div class="row full-page-no-pm">
        <div class="col">
            <div class="row upcoming-banner d-flex align-items-center justify-content-center">
                <div class="col-10 m-auto text-center">
                    <h1 class="title1-white text-uppercase">Our Events</h1>
                    <!--
                    <h1 class="title2-yellow text-shadow">Our Next Event</h1>
                    <h1 class="title1-white text-uppercase">A Solstice Soirée</h1>
                    <a href="https://www.facebook.com/events/317364318935600/" class="btn btn-lg banner-btn title4" target="_blank">SIGN UP NOW</a>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--AUTUMN SOIREE SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">An Autumn Soirée</h1>
            <div class="youtube-player" data-id="???"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">A November to Remember</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">For our 2019 Autumn Soirée we went back to The Collective Seattle. We have a sentiment towards this classy venue and so do our guests.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=???" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
        <div class="col-12 mx-auto black-background pt-5">
            <div style="padding-top:40px; padding-bottom:20px;">
                <h1 class="title1 text-center text-uppercase">An Autumn Soirée</h1>
                <h1 class="title3 text-center">A November to Remember</h1>
                <div class="red-underline"></div>
                <div class="mx-auto event-max-width">
                    <div class="youtube-player" data-id="???"></div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-center">
                <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=???" target="_blank">Gallery</a>
        </div>
    </div>
</div>

<!--SOLSTICE SOIREE SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">A Solstice Soirée</h1>
            <div class="youtube-player" data-id="Yk-oma9xKoM"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">Our Largest Event Yet</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Our 2019 Solstice Soirée was held at Eden Seattle. The spaciousness of this good looking venue allowed us to host more guests than ever before.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=640009619807069" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
        <div class="col-12 mx-auto black-background pt-5">
            <div style="padding-top:40px; padding-bottom:20px;">
                <h1 class="title1 text-center text-uppercase">A Solstice Soirée</h1>
                <h1 class="title3 text-center">Our Largest Event Yet</h1>
                <div class="red-underline"></div>
                <div class="mx-auto event-max-width">
                    <div class="youtube-player" data-id="Yk-oma9xKoM"></div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-center">
                <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=640009619807069" target="_blank">Gallery</a>
        </div>
    </div>
</div>

<!--GAME OF THRONES SECTION SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Winter is Ending, Party is Coming</h1>
            <div class="youtube-player" data-id="G7ivAWf92EU"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">Game of Thrones party</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Our Game of Thrones themed dance party was held at Escla Seattle in collaboration with Ali Farahanchi, Ariya Rastrow, and Diamond Heights Entertainment.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=608919686249396" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
        <div class="col-12 mx-auto black-background pt-5">
            <div style="padding-top:40px; padding-bottom:20px;">
                <h1 class="title1 text-center text-uppercase">Winter is Ending, Party is Coming</h1>
                <h1 class="title3 text-center">Game of Thrones party</h1>
                <div class="red-underline"></div>
                <div class="mx-auto event-max-width">
                    <div class="youtube-player" data-id="G7ivAWf92EU"></div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-center">
            <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=608919686249396" target="_blank">Gallery</a>
        </div>
    </div>
</div>

<!--WINTER SOIREE SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">A Winter Soirée</h1>
            <div class="youtube-player" data-id="pPnu7gsFbMs"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">Melting the Seattle Freeze</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Without a doubt, our best party to date. Held again at The Collective Seattle, the event featured a great mix of artists: singer, dancers, painter, fashion desinger.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=582389468902418" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
        <div class="col-12 mx-auto black-background pt-5">
            <div style="padding-top:40px; padding-bottom:20px;">
                <h1 class="title1 text-center text-uppercase">A Winter Soirée</h1>
                <h1 class="title3 text-center">Melting the Seattle Freeze</h1>
                <div class="red-underline"></div>
                <div class="mx-auto event-max-width">
                    <div class="youtube-player" data-id="pPnu7gsFbMs"></div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-center">
                <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=582389468902418" target="_blank">Gallery</a>
        </div>
    </div>
</div>

<!--CHARITY GALA SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Circle of Giving</h1>
            <div class="youtube-player" data-id="UdtQIwJ2BII"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">First Annual Charitable Gala</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">In collaboration with Young Professionals of Seattle, Epic Odyssey, and Lanuch Party, our first charitable gala was born. All proceeds went to Friendship Circle of Washington whose mission is to support children with special needs.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=524249151383117" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
            <div class="col-12 mx-auto black-background pt-5">
                <div style="padding-top:40px; padding-bottom:20px;">
                    <h1 class="title1 text-center text-uppercase">Circle of Giving</h1>
                    <h1 class="title3 text-center">First Annual Charitable Gala</h1>
                    <div class="red-underline"></div>
                    <div class="mx-auto event-max-width">
                            <div class="youtube-player" data-id="UdtQIwJ2BII"></div>
                        </div>
                </div>
            </div>
            <div class="col-12 mx-auto text-center">
                    <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=524249151383117" target="_blank">Gallery</a>
            </div>
        </div>
</div>

<!--SUMMER SOIREE SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Farewell to Summer</h1>
            <picture>
                <source srcset="img/summerBackground.webp" type="image/webp" class="img-fluid">
                <source srcset="img/summerBackground.jpg" type="image/jpeg" class="img-fluid"> 
                <img src="img/summerBackground.jpg" alt="photo" class="img-fluid">
            </picture>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">2018 Summer Soirée</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">Our first event held at The Collective Seattle, the gem of the Seattle venues. The first event where we asked Dress To Impress. The result was spectacular!</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=500875077053858" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
        <div class="row full-page-no-pm">
                <div class="col-12 mx-auto black-background pt-5">
                    <div style="padding-top:40px; padding-bottom:20px;">
                        <h1 class="title1 text-center text-uppercase">Farewell to Summer</h1>
                        <h1 class="title3 text-center">2018 Summer Soirée</h1>
                        <div class="red-underline"></div>
                        <div class="mx-auto event-max-width">
                                <picture>
                                        <source srcset="img/summerBackground.webp" type="image/webp" class="img-fluid">
                                        <source srcset="img/summerBackground.jpg" type="image/jpeg" class="img-fluid"> 
                                        <img src="img/summerBackground.jpg" alt="photo" class="img-fluid">
                                    </picture>
                            </div>
                    </div>
                </div>
                <div class="col-12 mx-auto text-center">
                        <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=500875077053858" target="_blank">Gallery</a>
                </div>
            </div>
</div>

<!--SPRING FEVER SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Spring Fever Party</h1>
            <div class="youtube-player" data-id="G94SgJKFq7k"></div>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">2018 Spring Social</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">The beginnings were fun and colorful. We experimented a little with rave vibes and managed to gather the friendliest people in Seattle.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=385015438639823" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
        <div class="row full-page-no-pm">
                <div class="col-12 mx-auto black-background pt-5">
                    <div style="padding-top:40px; padding-bottom:20px;">
                        <h1 class="title1 text-center text-uppercase">Spring Fever Party</h1>
                        <h1 class="title3 text-center">2018 Spring Social</h1>
                        <div class="red-underline"></div>
                        <div class="mx-auto event-max-width">
                                <div class="youtube-player" data-id="G94SgJKFq7k"></div>
                            </div>
                    </div>
                </div>
                <div class="col-12 mx-auto text-center">
                        <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=385015438639823" target="_blank">Gallery</a>
                </div>
            </div>
</div>

<!--HOLIDAY MIXER SECTION-->
<div class="container-fluid snap-child d-none d-lg-block">
    <div class="row full-page-no-pm">
        <div class="col-12 col-lg-7 m-auto text-center event-p-left">
            <h1 class="title1 text-uppercase">Holiday Social Mixer</h1>
            <picture>
                <source srcset="img/holidayMixer.webp" type="image/webp" class="img-fluid">
                <source srcset="img/holidayMixer.jpg" type="image/jpeg" class="img-fluid"> 
                <img src="img/holidayMixer.jpg" alt="photo" class="img-fluid">
            </picture>
        </div>
        <div class="col-12 col-lg-5 mx-auto black-background event-p-right d-flex align-items-center justify-content-center">
            <div>
                <h1 class="title3">Our Founding Event</h1>
                <div class="red-underline-left"></div>
                <h5 class="my-3 title5">This was our very first party! Beautiful rooftop venue, beautiful people, beutiful hearts. On 12/1/2019 Seattle Social Circle was born.</h5>
                <a class="btn banner-btn nounderline title4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=335043483637019" target="_blank">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid snap-child d-lg-none">
    <div class="row full-page-no-pm">
            <div class="col-12 mx-auto black-background pt-5">
                <div style="padding-top:40px; padding-bottom:20px;">
                    <h1 class="title1 text-center text-uppercase">Holiday Social Mixer</h1>
                    <h1 class="title3 text-center">Our Founding Event</h1>
                    <div class="red-underline"></div>
                    <div class="mx-auto event-max-width">
                            <picture>
                                    <source srcset="img/holidayMixer.webp" type="image/webp" class="img-fluid">
                                    <source srcset="img/holidayMixer.jpg" type="image/jpeg" class="img-fluid"> 
                                    <img src="img/holidayMixer.jpg" alt="photo" class="img-fluid">
                                </picture>
                        </div>
                </div>
            </div>
            <div class="col-12 mx-auto text-center">
                    <a class="btn page-btn nounderline title4 my-4" href="https://www.facebook.com/pg/SeattleSocialCircle/photos/?tab=album&album_id=335043483637019" target="_blank">Gallery</a>
            </div>
        </div>
</div>

<% include ./partials/footer %>