<% include ./partials/header %>

<div class="snap-container">
<!-- UPCOMING -->
<div id="events" class="container-fluid snap-child">
        <div class="row full-page-no-p">
            <div class="col">
                <div class="row upcoming-banner d-flex align-items-center justify-content-center">
                    <div class="col-10 m-auto text-center">
                        <h1 class="title2a text-shadow">Our Next Event</h1>
                        <h1 class="title1a">WINTER IS ENDING</h1>
                        <a href="#" class="btn btn-lg banner-btn">PARTY IS COMING</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--WINTER SOIREE SECTION-->
<div class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
        <div class="col">
            <div class="row my-3">
                <div class="col m-auto">
                    <h1 class="title1 text-center">A Winter Soirée</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto col-md-6">
                        <div class="youtube-player" data-id="7KbMC7nnlj8"></div>
                </div>
                <div class="col-10 m-auto col-md-6 text-center">
                        <h1 class="title3">Our Largest Event Yet</h1>
                        <div class="red-underline"></div>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <a class="btn page-btn nounderline" href="#">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!--CHARITY GALA SECTION-->
<div class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
        <div class="col">
            <div class="row my-3">
                <div class="col m-auto">
                    <h1 class="title1 text-center">Circle of giving</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto col-md-6">
                        <div class="youtube-player" data-id="YdE2P0LK1G0"></div>
                </div>
                <div class="col-10 m-auto col-md-6 text-center">
                        <h1 class="title3">First Annual Charitable Gala</h1>
                        <div class="red-underline"></div>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <a class="btn page-btn nounderline" href="#">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SUMMER SOIREE SECTION-->
<div class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
        <div class="col">
            <div class="row my-3">
                <div class="col m-auto">
                    <h1 class="title1 text-center">Farewell to summer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto col-md-6">
                    <picture>
                        <source srcset="img/summerSinger.webp" type="image/webp" class="img-fluid">
                        <source srcset="img/summerSinger.jpg" type="image/jpeg" class="img-fluid"> 
                        <img src="img/summerSinger.jpg" alt="photo" class="img-fluid">
                    </picture>
                </div>
                <div class="col-10 m-auto col-md-6 text-center">
                        <h1 class="title3">2018 Summer Soirée</h1>
                        <div class="red-underline"></div>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <a class="btn page-btn nounderline" href="#">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SPRING FEVER SECTION-->
<div class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
        <div class="col">
            <div class="row my-3">
                <div class="col m-auto">
                    <h1 class="title1 text-center">spring fever party</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto col-md-6">
                    <div class="youtube-player" data-id="d1mGWgp4uto"></div>
                </div>
                <div class="col-10 m-auto col-md-6 text-center">
                        <h1 class="title3">2018 Spring Social</h1>
                        <div class="red-underline"></div>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <a class="btn page-btn nounderline" href="#">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--HOLIDAY MIXER SECTION-->
<div class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
        <div class="col">
            <div class="row my-3">
                <div class="col m-auto">
                    <h1 class="title1 text-center">Farewell to summer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 m-auto col-md-6">
                    <picture>
                        <source srcset="img/holidayMixer.webp" type="image/webp" class="img-fluid">
                        <source srcset="img/holidayMixer.jpg" type="image/jpeg" class="img-fluid"> 
                        <img src="img/holidayMixer.jpg" alt="photo" class="img-fluid">
                    </picture>
                </div>
                <div class="col-10 m-auto col-md-6 text-center">
                        <h1 class="title3">Our Founding Event</h1>
                        <div class="red-underline"></div>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <a class="btn page-btn nounderline" href="#">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>