<% include ./partials/header %>

<div class="snap-container">
  <!--HOME SECTION-->
  <div id="home" class="container-fluid home d-flex align-items-center justify-content-center snap-child">
      <div class="video-container mb-5">
          <div class="video-overlay"></div>
           <video class="video-item" autoplay loop muted>
              <source src="video/headerFinal.mp4" type="video/mp4">Your browser does not support video tag
          </video>
      </div>
      <div class="row">
          <div class="col-10 m-auto text-center">
              <img src="/img/whiteLogo.png" class="img-fluid" alt="Seattle Social Circle">
              <a class="btn contact-btn nounderline mt-5" href="/contact">Partner with Us</a>
          </div>
      </div>
  </div>
  <!--ABOUT SECTION-->
  <div id="about" class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
      <div class="col-10">
        <div class="row text-center">
           <div class="col-10 mx-auto py-5">
                <h1 class="title2">Breaking the Seattle Freeze</h1>
           </div>
        </div>
        <div class="row text-center">
            <div class="col-10 m-auto col-md-4">
                <div class="about-photo-container">
                    <picture>
                       <source srcset="img/winterDJ.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/winterDJ.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/winterDJ.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                    <a href="http://www.diamondheights.org/">
                        <h3 class="text-center about-photo-link">Artists</h3>
                    </a>
                </div>
                <h1 class="title3">Promoting Artists</h1>
            </div>
            <div class="col-10 m-auto col-md-4">
                <div class="about-photo-container">
                    <picture>
                       <source srcset="img/winterGallery.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/winterGallery.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/winterGallery.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                    <a href="http://www.diamondheights.org/">
                        <h3 class="text-center about-photo-link">events</h3>
                    </a>
                </div>
                <h1 class="title3">Hosting Parties</h1>
            </div>
            <div class="col-10 m-auto col-md-4">
                <div class="about-photo-container">
                    <picture>
                       <source srcset="img/feature1.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/feature1.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/feature1.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                    <a href="http://www.diamondheights.org/">
                        <h3 class="text-center about-photo-link">sponsors</h3>
                    </a>
                </div>
                <h1 class="title3">Showcasing Business</h1>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--SPONSORS SECTION-->
<section class="snap-child off-white">
  <div id="sponsors" class="container snap-child">
    <div class="row full-page text-center d-flex align-items-center">
      <div class="col">
      <!--	title row-->
        <div class="row">
          <div class="col-10 mx-auto text-center py-5">
            <h1 class="title2">Our Sponsors</h1>
          </div>
        </div>
        <!--end of title row-->
        <!-- sponsors row -->
      <div class="row">
        <!-- featured -->
        <div class="col-10 d-none d-md-block m-auto col-md-4">
          <div class="photo-container">
               <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picHomeSmart.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picHomeSmart.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picHomeSmart.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <!-- end featured -->
        <!-- other sponsors -->
        <div class="col-10 m-auto col-md-8">
          <div class="row">
              <div class="col-4 col-md-3 m-auto d-md-none">
                  <div class="photo-container">
                     <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img">
                     <a href="http://sebisbistro.com/onlinemenu">
                      <picture>
                          <source srcset="img/picHomeSmart.webp" type="image/webp" class="img-fluid photo-link">
                          <source srcset="img/picHomeSmart.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                          <img src="img/picHomeSmart.jpg" alt="photo" class="img-fluid photo-link">
                        </picture>
                     </a>
                 </div>
                </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoSebis.png" alt="photo" class="img-fluid photo-img">
                 <a href="http://sebisbistro.com/onlinemenu">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoYum.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picYum.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picYum.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picYum.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoBuchaBelly.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                      <picture>
                        <source srcset="img/picBuchaBelly.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picBuchaBelly.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picBuchaBelly.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoWhistlePig.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picWhistlePig.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picWhistlePig.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picWhistlePig.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoEO.png" alt="photo" class="img-fluid photo-img">
                 <a href="http://sebisbistro.com/onlinemenu">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoLaunchParty.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoFC.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                 <img src="img/logoYPOS.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link">
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
        </div>
      </div>
      <!-- end other sponsors -->
    </div>
    <!-- end sponsors row -->
  </div>
</div>
</div>
</section>
  <!--TEAM SECTION-->
  <section id="team" class="snap-child">
    <div class="container">
        <div class="row full-page text-center d-flex align-items-center">
          <div class="col">
            <!--	title row-->
          <div class="row">
            <div class="col-10 mx-auto text-center py-5">
              <h1 class="title2">Meet the Team</h1>
            </div>
          </div>
          <!--end of title row-->
          <div class="row">
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                    <picture>
                      <source srcset="img/teamBartek.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamBartek.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamBartek.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Bartek Nowierski</h2>
                  <h5>Title 1</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                <picture>
                      <source srcset="img/teamJas.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamJas.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamJas.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Jas Banwait</h2>
                  <h5>Title 2</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                <picture>
                      <source srcset="img/teamAni.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamAni.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamAni.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Ani Nguyen</h2>
                  <h5>Title 3</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                <picture>
                      <source srcset="img/teamVlad.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamVlad.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamVlad.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Vlad Nehaev</h2>
                  <h5>Title 4</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
          </div>
          </div>
        </div>
    </div>
  </section>
</div>


<% include ./partials/footer %>