<% include ./partials/header %>

<div class="snap-container">
  <!--HOME SECTION-->
  <div id="home" class="container-fluid home d-flex align-items-center justify-content-center snap-child">
      <div class="video-container">
           <video class="video-item" autoplay loop muted>
              <source src="video/headerFinal.mp4" type="video/mp4">Your browser does not support video tag
          </video>
      </div>
      <div class="row">
          <div class="col-10 mx-auto">
              <img src="/img/whiteLogo.png" class="img-fluid" alt="Seattle Social Circle">
          </div>
      </div>
  </div>
  
  <!--ABOUT SECTION-->
  <div id="about" class="container-fluid snap-child">
      <div class="row full-page text-center d-flex align-items-center">
         <div class="col-10 mx-auto my-auto">
              <h1 class="title2">Breaking the Seattle Freeze</h1>
             <h4 class="text-muted">Expanding your social circle can be a bit daunting and meeting randoms in bars ain't always fun. We organize a series of social events to get friends of friends together, to connect people who love to have fun, party and like to go crazy (in a good way)!</h4>
             <a class="btn page-btn nounderline my-3" href="/contact">Partner with Us</a>
         </div>
      </div>
  </div>
  
  <!--3 PILLARS SECTION-->
  <section class="off-white snap-child">
    <div class="container">
        <div class="row text-center full-page d-flex align-items-center">
          <div class="col">
            <!--	title row-->
            <div class="row">
              <div class="col-10 mx-auto text-center py-5">
                <h1 class="title2">Our Mission</h1>
              </div>
            </div>
            <!--end of title row-->
            <div class="row">
              <div class="pillar-icon col-10 m-auto col-md-4">
                  <i class="fas fa-glass-cheers"></i>
                  <h1 class="title2">Host Parties</h1>
                  <h4 class="text-muted">Creating social events for young professionals.</h4>
              </div>
              <div class="col-10 m-auto col-md-4">
                  <i class="pillar-icon fas fa-microphone"></i>
                  <h1 class="title2">Promote Artists</h1>
                  <h4 class="text-muted">Providing a platform for emerging DJs, singers, and artists.</h4>
              </div>
              <div class="pillar-icon col-10 m-auto col-md-4">
                  <i class="far fa-handshake"></i>
                  <h1 class="title2">Showcase Business</h1>
                  <h4 class="text-muted">Partnering with all kinds of local businesses.</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
    
  </section>
  
  <!--SPONSORS SECTION-->
  <div id="sponsors" class="container snap-child">
    <div class="row full-page text-center d-flex align-items-center">
      <div class="col">
      <!--	title row-->
        <div class="row">
          <div class="col-10 mx-auto text-center py-5">
            <h1 class="title2">Our Sponsors</h1>
          </div>
        </div>
        <!--end of title row-->
      <div class="row">
        <div class="col-10 m-auto col-md-4">
          <div class="photo-container">
               <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <picture>
                      <source srcset="img/picHomeSmart.webp" type="image/webp" class="img-fluid photo-link">
                      <source srcset="img/picHomeSmart.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                      <img src="img/picHomeSmart.jpg" alt="photo" class="img-fluid photo-link">
                    </picture>
               </a>
           </div>
        </div>
        <div class="col-10 m-auto col-md-8">
          <div class="row">
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoSebis.png" alt="photo" class="img-fluid photo-img">
                 <a href="http://sebisbistro.com/onlinemenu">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoYum.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picYum.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picYum.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picYum.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoBuchaBelly.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                      <picture>
                        <source srcset="img/picBuchaBelly.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picBuchaBelly.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picBuchaBelly.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoWhistlePig.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picWhistlePig.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picWhistlePig.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picWhistlePig.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
        </div>
        <div class="row">
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoEO.png" alt="photo" class="img-fluid photo-img">
                 <a href="http://sebisbistro.com/onlinemenu">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoLaunchParty.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoFC.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
            <div class="col m-auto">
              <div class="photo-container">
                 <img src="img/logoYPOS.png" alt="photo" class="img-fluid photo-img">
                 <a href="/">
                     <picture>
                        <source srcset="img/picSebis.webp" type="image/webp" class="img-fluid photo-link">
                        <source srcset="img/picSebis.jpg" type="image/jpeg" class="img-fluid photo-link"> 
                        <img src="img/picSebis.jpg" alt="photo" class="img-fluid photo-link">
                      </picture>
                 </a>
             </div>
            </div>
        </div>
      </div>
    </div>
      </div>
  </div>
  </div>
  
  <!--TEAM SECTION-->
  <section id="team" class="off-white snap-child">
    <div class="container">
        <div class="row full-page text-center d-flex align-items-center">
          <div class="col">
            <!--	title row-->
          <div class="row">
            <div class="col-10 mx-auto text-center py-5">
              <h1 class="title2">Meet the Team</h1>
            </div>
          </div>
          <!--end of title row-->
          <div class="row">
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                    <picture>
                      <source srcset="img/teamBartek.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamBartek.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamBartek.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Bartek Nowierski</h2>
                  <h5>Title 1</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                <picture>
                      <source srcset="img/teamJas.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamJas.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamJas.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Jas Banwait</h2>
                  <h5>Title 2</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                <picture>
                      <source srcset="img/teamAni.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamAni.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamAni.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Ani Nguyen</h2>
                  <h5>Title 3</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
            <div class="col-lg-3 col-sm-6 m-auto">
              <div class="card text-center">
                <picture>
                      <source srcset="img/teamVlad.webp" type="image/webp" width="180" class="img-fluid rounded-circle mx-auto">
                      <source srcset="img/teamVlad.jpg" type="image/jpeg" width="180" class="img-fluid rounded-circle mx-auto"> 
                      <img src="img/teamVlad.jpg" alt="photo" width="180" class="img-fluid rounded-circle mx-auto">
                    </picture>
                <div class="card-body">
                  <h2>Vlad Nehaev</h2>
                  <h5>Title 4</h5>
                  <div class="team-underline"></div>
                  <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
                </div>
              </div>
            </div>
            <!--end of team col-->
          </div>
          </div>
        </div>
    </div>
  </section>
</div>


<% include ./partials/footer %>