<% include ./partials/header %>

<!--HOME SECTION-->
<div id="home" class="container-fluid home py-5 d-flex align-items-center justify-content-center">
    <div class="video-container">
         <video class="video-item" autoplay loop muted>
            <source src="video/headerFinal.mp4" type="video/mp4">Your browser does not support video tag
        </video>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <img src="/img/whiteLogo.png" class="img-fluid" alt="Seattle Social Circle">
        </div>
    </div>
</div>

<!--ABOUT SECTION-->
<div id="about" class="container-fluid white-background py-5">
    <div class="row">
       <div class="col-10 mx-auto text-center my-3">
           <h1 class="display-3 text-capitalize neutratext header-font-size"><i class="fas fa-fire"></i>Liberating the Seattle Freeze</h1>
           <div class="about-underline mb-3"></div>
           <h4>Expanding your social circle can be a bit daunting and meeting randoms in bars ain't always fun. We organize a series of social events to get friends of friends together, to connect people who love to have fun, party and like to go crazy (in a good way)!</h4>
           <a class="btn about-btn nounderline my-3" href="mailto:bartek@seattlesocialcircle.com">Partner with Us</a>
       </div>
    </div>
</div>

<!--UPCOMING SECTION-->
<header id="upcoming">
    <div class="container-fluid">
      <div class="row">
        <div class="col no-padding">
          <div id="demo-slider" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item item-1 active">
                <div class="carousel-caption mb-5 text-right">
                  <h1 class="display-3 mb-2 text-shadow upcoming-font-size nowrap">Upcoming Events</h1>
                  <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">Facebook</a>
                </div>
              </div>
              <div class="carousel-item item-2">
                <div class="carousel-caption mb-5 text-center">
                  <h1 class="display-3 mb-2 text-shadow upcoming-font-size nowrap">Winter is Ending</h1>
                  <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">Party is Coming</a>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo-slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#demo-slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</header>

<!--FEATURED SPONSOR SECTION-->
<div class="container-fluid white-background py-5">
    <div class="row">
        <div class="col-11 mx-auto text-center py-3">
            <h1 class="display-4 text-uppercase black-font neutratext">Featured Sponsor</h1>
            <div class="featured-underline"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-6 mx-auto py-3 px-5">
            <img src="img/logoHomeSmart.png" class="img-fluid" alt="photo">
        </div>
        <div class="col-10 col-md-6 mx-auto py-3">
            <div id="example" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
          <!--indicators-->
          <ul class="carousel-indicators">
            <li data-target="#example" data-slide-to="0" class="active"></li>
            <li data-target="#example" data-slide-to="1"></li>
          </ul>
          <!--images-->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/feature1.jpg" alt="carousel picture" class="d-block w-100 featured-carousel-img">
            </div>
            <div class="carousel-item">
              <img src="img/picHomeSmart.jpg" alt="carousel picture" class="d-block w-100 featured-carousel-img">
            </div>
          </div>
          <!--end of images-->
          <!--controls-->
          <a href="#example" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a href="#example" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--    <div class="col-10 mx-auto text-center py-5">-->
    <!--        <a class="btn about-btn nounderline" href="#">View All Sponsors</a>-->
    <!--    </div>-->
    <!--</div>-->
</div>

<!--WINTER SOIREE SECTION-->
<div id="events" class="container-fluid cliptop black-background py-5">
    <div class="row">
        <div class="col-11 mx-auto text-center py-3">
            <h1 class="display-4 text-uppercase neutratext">what you missed in 2019</h1>
            <div class="past-events-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
<div class="container-fluid black-background">
    <div class="row winter-banner align-items-center">
        <div class="col-11 mx-auto">
            <h1 class="display-1 winter-font text-shadow-blue text-uppercase text-center">a winter soirée</h1>
            <h1 class="event-date text-shadow text-center"><img src="/img/whiteLogo.png" width="150" alt="Seattle Social Circle"> 2019</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-md-6 my-3">
           <div class="videoWrapper">
               <iframe width="780" height="439" src="https://www.youtube.com/embed/7KbMC7nnlj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <h1>Artists</h1>
            <div class="winter-underline"></div>
            <p class="artist-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/winterDJ.jpg" alt="photo" class="img-fluid event-photo-img">
               <a href="http://www.diamondheights.org/">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">diamond heights</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/winterPig.jpg" alt="photo" class="img-fluid event-photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">Whistle Pig</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/winterSinger.jpg" alt="photo" class="img-fluid event-photo-img">
               <a href="https://www.instagram.com/iriskymm">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">Iris Kymm</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/winterPhotographer.jpg" alt="photo" class="img-fluid event-photo-img">
               <a href="https://www.facebook.com/media/set/?set=a.582389468902418&type=1&l=928093f2dd">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">gallery</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
</div>

<div class="container pt-3 pb-5">
  <!--title row-->
  <div class="row">
    <div class="col-11 mx-auto">
        <h6>SPONSORED BY</h6>
    </div>
  </div>
  <!--end of title row-->
  <div class="row px-3">
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picHomeSmart.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoSebis.png" alt="photo" class="img-fluid photo-img">
               <a href="http://sebisbistro.com/onlinemenu">
                   <img src="img/picSebis.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoYum.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picYum.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoBuchaBelly.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picBuchaBelly.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoWhistlePig.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picWhistlePig.jpeg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
    </div>
</div>

<!--CHARITY GALA SECTION-->
<div class="container-fluid black-background">
    <div class="row charity-banner align-items-center">
        <div class="col-11 mx-auto">
            <h1 class="display-1 charity-font text-shadow-gold text-uppercase text-center">circle of giving</h1>
            <h1 class="event-date text-shadow text-center"><img src="/img/whiteLogo.png" width="150" alt="Seattle Social Circle"> 2018</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-md-6 my-3">
           <div class="videoWrapper">
               <iframe width="780" height="439" src="https://www.youtube.com/embed/YdE2P0LK1G0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
        </div>
        <div class="col-10 mx-auto col-md-3 my-3">
            <h1>Charitable Gala</h1>
            <div class="charity-underline"></div>
            <p class="artist-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-10 mx-auto col-md-3 my-3">
            <div class="event-photo-container">
               <img src="img/charityGallery.JPG" alt="photo" class="img-fluid circle-photo event-photo-img">
               <a href="https://www.facebook.com/media/set/?set=a.582389468902418&type=1&l=928093f2dd">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">gallery</h3>
               </a>
           </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-5">
    <div class="row">
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/charityArt.JPG" alt="photo" class="img-fluid event-photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">artwork</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/charityDJ.JPG" alt="photo" class="img-fluid event-photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">Musician</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/charityPerformer.jpg" alt="photo" class="img-fluid event-photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">Performer</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-3 my-3">
           <div class="event-photo-container">
               <img src="img/charityDancer.JPG" alt="photo" class="img-fluid event-photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">Dancer</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
</div>

<div class="container pt-3 pb-5">
  <!--title row-->
  <div class="row">
    <div class="col-11 mx-auto">
        <h6>SPONSORED BY</h6>
    </div>
  </div>
  <!--end of title row-->
  <div class="row px-3">
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoEO.png" alt="photo" class="img-fluid photo-img">
               <a href="http://sebisbistro.com/onlinemenu">
                   <img src="img/picSebis.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoLaunchParty.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picHomeSmart.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoFC.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picYum.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
        <!--single photo-->
        <div class="col-5 mx-auto col-sm-4 col-lg-2 d-flex align-items-center mx-2 my-2">
           <div class="photo-container">
               <img src="img/logoYPOS.png" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <img src="img/picBuchaBelly.jpg" class="img-fluid photo-link">
               </a>
           </div>
        </div>
        <!--end single photo-->
    </div>
</div>

<!--SUMMER SOIREE SECTION-->
<div class="container-fluid black-background pb-5">
    <div class="row summer-banner align-items-center">
        <div class="col-11 mx-auto">
            <h1 class="display-1 summer-font text-shadow-red text-uppercase text-center">farewell to summer </h1>
            <h1 class="event-date text-shadow text-center"><img src="/img/whiteLogo.png" width="150" alt="Seattle Social Circle"> 2018</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-md-6 my-3">
           <div id="example" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
          <!--indicators-->
          <ul class="carousel-indicators">
            <li data-target="#example" data-slide-to="0" class="active"></li>
            <li data-target="#example" data-slide-to="1"></li>
          </ul>
          <!--images-->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/summerSinger.JPG" alt="carousel picture" class="d-block w-100 carousel-img">
              <div class="carousel-content text-shadow">
                  <h1 class="display-5">Singer</h1>
              </div>
            </div>
            <div class="carousel-item">
              <img src="img/summerDJ.JPG" alt="carousel picture" class="d-block w-100 carousel-img">
              <div class="carousel-content text-shadow">
                  <h1 class="display-5">Musician</h1>
              </div>
            </div>
          </div>
          <!--end of images-->
          <!--controls-->
          <a href="#example" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a href="#example" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        </div>
        <div class="col-10 mx-auto col-md-3 my-3">
            <h1>Artists</h1>
            <div class="summer-underline"></div>
            <p class="artist-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-10 mx-auto col-md-3 my-3">
            <div class="event-photo-container">
               <img src="img/summerDancing.JPG" alt="photo" class="img-fluid circle-photo event-photo-img">
               <a href="https://www.facebook.com/media/set/?set=a.582389468902418&type=1&l=928093f2dd">
                   <h3 class="text-uppercase text-center text-shadow event-photo-link">gallery</h3>
               </a>
           </div>
        </div>
    </div>
</div>

<!--SPRING FEVER SECTION-->
<div class="container-fluid black-background pb-5">
    <div class="row spring-banner align-items-center">
        <div class="col-11 mx-auto">
            <h1 class="display-1 spring-font text-shadow-purple text-uppercase text-center">spring fever party</h1>
            <h1 class="event-date text-shadow text-center"><img src="/img/whiteLogo.png" width="150" alt="Seattle Social Circle"> 2018</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-md-6 my-3">
           <div class="videoWrapper">
               <iframe width="780" height="439" src="https://www.youtube.com/embed/d1mGWgp4uto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <h1>Artists</h1>
            <div class="spring-underline"></div>
            <p class="artist-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<!--HOLIDAY MIXER SECTION-->
<div class="container-fluid fade-background py-5">
    <div class="row">
        <div class="col-10 col-md-6 mx-auto d-flex align-items-center text-center px-3">
            <div>
                <h1 class="display-4">Where it all began.</h1>
                <h5>Throwback to Holiday Social Mixer in 2017!</h5>
            </div>
        </div>
        <div class="col-10 mx-auto col-md-6 pb-5 pt-3">
            <img src="img/holidayMixer.jpg" alt="holiday mixer" class="circle-photo img-fluid">
        </div>
    </div>
</div>

<!--TEAM SECTION-->
<section id="team" class="pt-5">
    <div class="container">
      <!--	title row-->
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h1 class="display-4 text-uppercase black-font neutratext">meet the team</h1>
           <div class="team-title-underline"></div>
        </div>
      </div>
      <!--end of title row-->
      <div class="row">
        <div class="col-lg-3 col-sm-6 my-5">
          <div class="card text-center">
            <img src="img/teamBartek.jpg" width="180" alt="" class="img-fluid rounded-circle mx-auto">
            <div class="card-body">
              <h2 class="neutratext">Bartek Nowierski</h2>
              <h5>Title 1</h5>
              <div class="team-underline"></div>
              <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
            </div>
            <div class="card-footer d-flex justify-content-around">
              <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
            </div>
          </div>
        </div>
        <!--end of team col-->
        <div class="col-lg-3 col-sm-6 my-5">
          <div class="card text-center">
            <img src="img/teamJas.jpg" width="180" alt="" class="img-fluid rounded-circle mx-auto">
            <div class="card-body">
              <h2 class="neutratext">Jas Banwait</h2>
              <h5>Title 2</h5>
              <div class="team-underline"></div>
              <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
            </div>
            <div class="card-footer d-flex justify-content-around">
              <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
            </div>
          </div>
        </div>
        <!--end of team col-->
        <div class="col-lg-3 col-sm-6 my-5">
          <div class="card text-center">
            <img src="img/teamAni.jpg" width="180" alt="" class="img-fluid rounded-circle mx-auto">
            <div class="card-body">
              <h2 class="neutratext">Ani Nguyen</h2>
              <h5>Title 3</h5>
              <div class="team-underline"></div>
              <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
            </div>
            <div class="card-footer d-flex justify-content-around">
              <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
            </div>
          </div>
        </div>
        <!--end of team col-->
        <div class="col-lg-3 col-sm-6 my-5">
          <div class="card text-center">
            <img src="img/teamVlad.jpg" width="180" alt="" class="img-fluid rounded-circle mx-auto">
            <div class="card-body">
              <h2 class="neutratext">Vlad Nehaev</h2>
              <h5>Title 4</h5>
              <div class="team-underline"></div>
              <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sint.</h5>
            </div>
            <div class="card-footer d-flex justify-content-around">
              <a class="btn team-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email</a>
            </div>
          </div>
        </div>
        <!--end of team col-->
      </div>
    </div>
</section>

<!--CONTACT SECTION-->
<div id="contact" class="container-fluid">
    <div class="row align-items-center white-background">
        <div class="col-8 mx-auto col-md-6 py-5 text-center text-uppercase">
                <a class="btn about-btn nounderline" href="mailto:bartek@seattlesocialcircle.com">Email Us</a>
        </div>
    </div>
</div>


<% include ./partials/footer %>