<% include ./partials/header %>

<div class="snap-container">
  <!--HOME SECTION-->
  <div id="home" class="container-fluid home d-flex align-items-center justify-content-center snap-child">
      <div class="video-container mb-5">
          <div class="video-overlay"></div>
           <!-- <video class="video-item" autoplay loop muted>
              <source src="video/headerFinal.mp4" type="video/mp4">Your browser does not support video tag
          </video> -->
          <video class="video-item" autoplay loop muted poster="/img/summerBackground.jpg">
            <source src="video/headerFinal.webm" type="video/webm">
            <source src="video/headerFinal.mp4" type="video/mp4">
            <source src="video/headerFinal.ogv" type="video/ogg">
         </video>
      </div>
      <div class="row m-match">
          <div class="col m-auto text-center max-width">
              <img src="/img/whiteLogo.png" class="img-fluid" alt="Seattle Social Circle">
              <a class="btn banner-btn nounderline mt-5 title4" href="/contact">Partner with Us</a>
          </div>
      </div>
  </div>
  <!--ABOUT SECTION-->
  <div id="about" class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
      <div class="col max-width">
        <div class="row text-center">
           <div class="col mx-auto pt-3">
                <h1 class="title1">Breaking the Seattle Freeze</h1>
                <div class="red-underline"></div>
                <div>
                  <h1 class="title4" style="max-width:700px; margin:0 auto;">
                    Seattle Social Circle is dedicated to breaking the Seattle Freeze and bringing
                    the community together. We host events for Seattle professionals with a mission
                    to provide a platform for up and coming DJs, Singers, and Artists,
                    while simultaneously showcasing local businesses.
                  </h1>
                </div>
                    <div class="d-flex align-items-center flex-wrap justify-content-between my-3">
                      <a href="https://www.facebook.com/SeattleSocialCircle/" class=" btn about-btn nounderline my-1" target="_blank">Connect with us on Facebook</a>
                      <a href="https://www.instagram.com/seattlesocialcircle/" class="btn about-btn nounderline my-1" target="_blank">Follow us on Instagram</a>
                    </div>
           </div>
        </div>
        <div class="row text-center">
            <div class="col m-auto col-md-4">
              <div class="d-flex justify-content-center">
                <div class="about-photo-container my-3">
                    <a href="/artists">
                    <picture>
                       <source srcset="img/winterDJ.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/winterDJ.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/winterDJ.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                        <h1 class="text-center about-photo-link title2-white">Artists</h1>
                    </a>
                </div>
              </div>
            </div>
            <div class="col m-auto col-md-4">
              <div class="d-flex justify-content-center">
                <div class="about-photo-container my-3">
                    <a href="/events">  
                     <picture>
                       <source srcset="img/winterGallery.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/winterGallery.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/winterGallery.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                        <h1 class="text-center about-photo-link title2-white">events</h1>
                    </a>
                </div>
              </div>
            </div>
            <div class="col d-none d-sm-block m-auto col-md-4">
              <div class="d-flex justify-content-center">
                <div class="about-photo-container my-3">
                    <a href="/#sponsors">
                    <picture>
                       <source srcset="img/feature1.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/feature1.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/feature1.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                        <h1 class="text-center about-photo-link title2-white">partners</h1>
                    </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!--SPONSORS SECTION GOLD-->
  <div id="sponsors" class="container-fluid snap-child">
    <div class="row full-page text-center d-flex align-items-center justify-content-center">
      <div class="col max-width">
      <!--	title row-->
        <div class="row">
          <div class="col mx-auto text-center">
            <h1 class="title1">Gold Partners</h1>
            <h1 style="max-width:700px; margin:0 auto;" class="title4 text-center my-3">
              Nothing would be possible without the support and involvement of our Gold Partners.
              These organizations are championing the values and mission behind SSC.
            </h1>
          </div>
        </div>
        <!--end of title row-->
        <!-- sponsors row -->
      <div class="row">
        <div class="col-12 m-auto">
          <!-- gold sponsors -->
          <h1 class="title5 sponsor-line"><span>Gold Partners</span></h1>
          <div class="row">
              <div class="col-6 m-auto">
                  <div class="photo-container-featured">
                      <a href="/ajax/homeSmart.html" class="ajax-popup2">
                        <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img-featured my-2">
                        <h1 class="title3 photo-link-featured">View Bio</h1>
                       </a>
                 </div>
                </div>
            <div class="col-6 m-auto">
              <div class="photo-container-featured">
                  <a href="/ajax/sebis.html" class="ajax-popup2">
                    <img src="img/logoSebis.png" alt="photo" class="img-fluid photo-img-featured my-2">
                    <h1 class="title3 photo-link-featured">View Bio</h1>
                   </a>
             </div>
            </div>
                <div class="col-6 m-auto">
                  <div class="photo-container-featured">
                      <a href="/ajax/FC.html" class="ajax-popup2">
                        <img src="img/logoFC.png" alt="photo" class="img-fluid photo-img-featured my-2">
                        <h1 class="title3 photo-link-featured">View Bio</h1>
                       </a>
                 </div>
                </div>
        </div>
        <!-- end gold sponsors -->
      </div>
    </div>
    <!-- end sponsors row -->
  </div>
</div>
</div>

  <!--SPONSORS SECTION Silver-->
  <div id="sponsors" class="container-fluid snap-child">
      <div class="row full-page text-center d-flex align-items-center justify-content-center">
        <div class="col max-width">
        <!--	title row-->
          <div class="row">
            <div class="col mx-auto text-center">
              <h1 class="title1">Silver Partners</h1>
              <h1 style="max-width:700px; margin:0 auto;" class="title4 text-center my-3">
                These amazing organizations significantly enrich our events. SSC parties wouldn't be the same
                without our Silver Partners.
              </h1>
            </div>
          </div>
          <!--end of title row-->
          <!-- sponsors row -->
        <div class="row">
          <div class="col-12 m-auto">
          <!-- silver sponsors -->
          <h1 class="title5 sponsor-line"><span>Silver Partners</span></h1>
          <div class="row">
              <div class="col-4 m-auto">
                  <div class="photo-container">
                      <a href="/ajax/yum.html" class="ajax-popup2">
                        <img src="img/logoYum.png" alt="photo" class="img-fluid photo-img my-2">
                        <h1 class="title3 photo-link">View Bio</h1>
                       </a>
                 </div>
                </div>
                <div class="col-4 m-auto">
                    <div class="photo-container">
                        <a href="/ajax/DITA.html" class="ajax-popup2">
                          <img src="img/DITA.png" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">View Bio</h1>
                          </a>
                    </div>
                  </div>
                <div class="col-4 m-auto">
                    <div class="photo-container">
                        <a href="/ajax/YPOS.html" class="ajax-popup2">
                          <img src="img/logoYPOS.png" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">View Bio</h1>
                         </a>
                   </div>
                  </div>
                    <div class="col-4 m-auto">
                        <div class="photo-container">
                            <a href="/ajax/Collective.html" class="ajax-popup2">
                              <img src="img/logoCollective.jpg" alt="photo" class="img-fluid photo-img my-2">
                              <h1 class="title3 photo-link">View Bio</h1>
                             </a>
                       </div>
                      </div>
                    <div class="col-4 m-auto">
                        <div class="photo-container">
                            <a href="/ajax/Persepolis.html" class="ajax-popup2">
                              <img src="img/Persepolis.png" alt="photo" class="img-fluid photo-img my-2">
                              <h1 class="title3 photo-link">View Bio</h1>
                              </a>
                        </div>
                      </div>
                      <div class="col-4 m-auto">
                          <div class="photo-container">
                              <a href="/ajax/buchaBelly.html" class="ajax-popup2">
                                <img src="img/logoBuchaBelly.png" alt="photo" class="img-fluid photo-img my-2">
                                <h1 class="title3 photo-link">View Bio</h1>
                                </a>
                          </div>
                        </div>
                          </div>
          <!-- end silver sponsors -->
        </div>
      </div>
      <!-- end sponsors row -->
    </div>
  </div>
  </div>

    <!--SPONSORS SECTION BRONZE-->
    <div id="sponsors" class="container-fluid snap-child">
        <div class="row full-page text-center d-flex align-items-center justify-content-center">
          <div class="col max-width">
          <!--	title row-->
            <div class="row">
              <div class="col mx-auto text-center">
                <h1 class="title1">Bronze Partners</h1>
                <h1 style="max-width:700px; margin:0 auto;" class="title4 text-center my-3">
                  Our Bronze Partners have been an amazing support throughout time.
                </h1>
              </div>
            </div>
            <!--end of title row-->
            <!-- sponsors row -->
          <div class="row">
            <div class="col-12 m-auto">
            <!-- bronze sponsors -->
            <h1 class="title5 sponsor-line"><span>Bronze Partners</span></h1>
            <div class="row">
                <div class="col-3 m-auto">
                    <div class="photo-container">
                          <img src="img/RedBull.jpg" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">RedBull</h1>
                          </a>
                    </div>
                  </div>
                  <div class="col-3 m-auto">
                      <div class="photo-container">
                            <img src="img/evergrey.png" alt="photo" class="img-fluid photo-img my-2">
                            <h1 class="title3 photo-link">The Evergrey</h1>
                     </div>
                    </div>
                    <div class="col-3 m-auto">
                        <div class="photo-container">
                            <img src="img/c895.png" alt="photo" class="img-fluid photo-img my-2">
                            <h1 class="title3 photo-link">c89.5</h1>
                       </div>
                      </div>
                <div class="col-3 m-auto">
                    <div class="photo-container">
                          <img src="img/logoDiamond.jpg" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">Diamond Heights</h1>
                   </div>
                  </div>
                <div class="col-3 m-auto">
                    <div class="photo-container">
                          <img src="img/logoWhistlePig.jpg" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">Whistle Pig</h1>
                   </div>
                  </div>
                  <div class="col-3 m-auto">
                      <div class="photo-container">
                            <img src="img/logoLaunchParty.png" alt="photo" class="img-fluid photo-img my-2">
                            <h1 class="title3 photo-link">Launch Party</h1>
                     </div>
                    </div>
                    <div class="col-3 m-auto">
                        <div class="photo-container">
                              <img src="img/logoEO.png" alt="photo" class="img-fluid photo-img my-2">
                              <h1 class="title3 photo-link">Epic Odyssey</h1>
                       </div>
                      </div>
                    <div class="col-3 m-auto">
                      <div class="photo-container">
                            <img src="img/logoAnderson.jpg" alt="photo" class="img-fluid photo-img my-2">
                            <h1 class="title3 photo-link">The Anderson Group</h1>
                     </div>
                    </div>
                <div class="col-3 m-auto">
                    <div class="photo-container">
                          <img src="img/logoEnagic.png" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">Enagic</h1>
                   </div>
                  </div>
              <div class="col-3 m-auto">
                <div class="photo-container">
                      <img src="img/logoEterna.jpg" alt="photo" class="img-fluid photo-img my-2">
                      <h1 class="title3 photo-link">Eterna Studios</h1>
               </div>
              </div>
              <div class="col-3 m-auto">
                <div class="photo-container">
                      <img src="img/logoFloat.png" alt="photo" class="img-fluid photo-img my-2">
                      <h1 class="title3 photo-link">Level Float Spa</h1>
               </div>
              </div>
              <div class="col-3 m-auto">
                <div class="photo-container">
                      <img src="img/logoJuan.jpg" alt="photo" class="img-fluid photo-img my-2">
                      <h1 class="title3 photo-link">Juan Alonso Studio</h1>
               </div>
              </div>
              <div class="col-3 m-auto">
                  <div class="photo-container">
                        <img src="img/logoLogic.png" alt="photo" class="img-fluid photo-img my-2">
                        <h1 class="title3 photo-link">Logic Inbound</h1>
                 </div>
                </div>
                <div class="col-3 m-auto">
                    <div class="photo-container">
                          <img src="img/logoPam.jpg" alt="photo" class="img-fluid photo-img my-2">
                          <h1 class="title3 photo-link">Pam's Kitchen</h1>
                   </div>
                  </div>
      </div>
            <!-- end bronze sponsors -->
          </div>
        </div>
        <!-- end sponsors row -->
      </div>
    </div>
    </div>

<!--TEAM SECTION-->
<section id="team" class="snap-child">
  <div class="container-fluid">
      <div class="row full-page text-center d-flex align-items-center justify-content-center">
        <div class="col max-width">
          <!--	title row-->
        <div class="row">
          <div class="col mx-auto text-center pb-3">
            <h1 class="title1">Meet the Team</h1>
          </div>
        </div>
        <!--end of title row-->
        <div class="row">
          <div class="col-6 col-lg-4 m-auto">
              <div class="team-photo-container">
                <!-- <a href="/ajax/bartek.html" class="ajax-popup"> -->
                  <a href="https://www.facebook.com/nowiesz" target="_blank">
                  <picture>
                    <source srcset="img/teamBartek.webp" type="image/webp"  class="img-fluid mx-auto team-photo-img">
                    <source srcset="img/teamBartek.jpg" type="image/jpeg"  class="img-fluid mx-auto team-photo-img">
                    <img src="img/teamBartek.jpg" alt="photo" class="img-fluid mx-auto team-photo-img">
                  </picture>
                  <div class="team-photo-link"><i class="fab fa-facebook-f fa-lg"></i></div>
                </a>
              </div>
              <h1 class="title3 mt-2">Bartek Nowierski</h1>
              <h1 class="title5 mb-2"><a href="mailto:bartek@seattlesocialcircle.com"><i style="color:var(--mainBlack);" class="far fa-envelope"></i></a> Title</h1>
          </div>
          <!--end of team col-->
          <div class="col-6 col-lg-4 m-auto">
              <div class="team-photo-container">
                  <!-- <a href="/ajax/jas.html" class="ajax-popup"> -->
                    <a href="https://www.facebook.com/profile.php?id=873285098" target="_blank">
                    <picture>
                      <source srcset="img/teamJas.webp" type="image/webp"  class="img-fluid mx-auto team-photo-img">
                      <source srcset="img/teamJas.jpg" type="image/jpeg"  class="img-fluid mx-auto team-photo-img">
                      <img src="img/teamJas.jpg" alt="photo" class="img-fluid mx-auto team-photo-img">
                    </picture>
                    <h1 class="title3 team-photo-link"><i class="fab fa-facebook-f fa-lg"></i></h1>
                  </a>
                </div>
                <h1 class="title3 mt-2">Jas Banwait</h1>
                <h1 class="title5 mb-2"><a href="mailto:jas@seattlesocialcircle.com"><i style="color:var(--mainBlack);" class="far fa-envelope"></i></a> President</h1>
          </div>
          <!--end of team col-->
          <div class="col-6 col-lg-4 m-auto">
              <div class="team-photo-container">
                  <!-- <a href="/ajax/ani.html" class="ajax-popup"> -->
                    <a href="https://www.facebook.com/virtuous.lorde" target="_blank">
                    <picture>
                      <source srcset="img/teamAni.webp" type="image/webp"  class="img-fluid mx-auto team-photo-img">
                      <source srcset="img/teamAni.jpg" type="image/jpeg"  class="img-fluid mx-auto team-photo-img">
                      <img src="img/teamAni.jpg" alt="photo" class="img-fluid mx-auto team-photo-img">
                    </picture>
                    <h1 class="title3 team-photo-link"><i class="fab fa-facebook-f fa-lg"></i></h1>
                  </a>
                </div>
                <h1 class="title3 mt-2">Ani Nguyen</h1>
                <h1 class="title5 mb-2"><a href="mailto:ani@seattlesocialcircle.com"><i style="color:var(--mainBlack);" class="far fa-envelope"></i></a> Title</h1>
          </div>
          <!--end of team col-->
        </div>
        </div>
      </div>
  </div>
</section>


<% include ./partials/footer %>