<% include ./partials/header %>

<div class="snap-container">
  <!--HOME SECTION-->
  <div id="home" class="container-fluid home d-flex align-items-center justify-content-center snap-child">
      <div class="video-container mb-5">
          <div class="video-overlay"></div>
           <video class="video-item" autoplay loop muted>
              <source src="video/headerFinal.mp4" type="video/mp4">Your browser does not support video tag
          </video>
      </div>
      <div class="row m-match">
          <div class="col m-auto text-center max-width">
              <img src="/img/whiteLogo.png" class="img-fluid" alt="Seattle Social Circle">
              <a class="btn banner-btn nounderline mt-5 title4" href="/contact">Partner with Us</a>
          </div>
      </div>
  </div>
  <!--ABOUT SECTION-->
  <div id="about" class="container-fluid snap-child">
    <div class="row full-page d-flex align-items-center justify-content-center">
      <div class="col max-width">
        <div class="row text-center">
           <div class="col mx-auto pt-3">
                <h1 class="title1">Breaking the Seattle Freeze</h1>
                <div class="red-underline"></div>
                <div>
                  <h1 class="title4" style="max-width:580px; margin:0 auto;">Seattle Social Circle is dedicated to breaking the Seattle Freeze. We host parties for young professionals while giving a platform for up and coming DJs, Singers, and Artists, while simultaneously showcasing businesses that align with our vision.</h1>
                </div>
                    <div class="d-flex justify-content-center align-items-baseline flex-wrap justify-content-between my-4">
                      <a href="https://www.facebook.com/SeattleSocialCircle/" class=" btn about-btn nounderline mb-3">Connect with us on Facebook</a>
                      <a href="https://www.instagram.com/seattlesocialcircle/" class="btn about-btn nounderline">Follow us on Instagram</a>
                    </div>
           </div>
        </div>
        <div class="row text-center">
            <div class="col d-none d-sm-block m-auto col-md-4">
              <div class="d-flex justify-content-center">
                <div class="about-photo-container my-3">
                    <picture>
                       <source srcset="img/winterDJ.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/winterDJ.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/winterDJ.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                    <a href="/artists">
                        <h1 class="text-center about-photo-link title2-white">Artists</h1>
                    </a>
                </div>
              </div>
            </div>
            <div class="col d-none d-sm-block m-auto col-md-4">
              <div class="d-flex justify-content-center">
                <div class="about-photo-container my-3">
                    <picture>
                       <source srcset="img/winterGallery.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/winterGallery.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/winterGallery.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                    <a href="/events">
                        <h1 class="text-center about-photo-link title2-white">events</h1>
                    </a>
                </div>
              </div>
            </div>
            <div class="col d-none d-sm-block m-auto col-md-4">
              <div class="d-flex justify-content-center">
                <div class="about-photo-container my-3">
                    <picture>
                       <source srcset="img/feature1.webp" type="image/webp" class="img-fluid about-photo-img">
                       <source srcset="img/feature1.jpg" type="image/jpeg" class="img-fluid about-photo-img"> 
                       <img src="img/feature1.jpg" alt="photo" class="img-fluid about-photo-img">
                     </picture>
                    <a href="/#sponsors">
                        <h1 class="text-center about-photo-link title2-white">partners</h1>
                    </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!--SPONSORS SECTION-->
  <div id="sponsors" class="container-fluid snap-child">
    <div class="row full-page text-center d-flex align-items-center justify-content-center">
      <div class="col max-width">
      <!--	title row-->
        <div class="row">
          <div class="col mx-auto text-center">
            <h1 class="title1">Our Sponsors</h1>
          </div>
        </div>
        <!--end of title row-->
        <!-- sponsors row -->
      <div class="row">
        <!-- featured -->
        <div class="col d-none d-lg-block m-auto col-lg-4">
          <div class="photo-container-featured">
              <a href="/ajax/homeSmart.html" class="ajax-popup2">
               <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img-featured my-3">
               <h1 class="title3 photo-link-featured">View Bio</h1>
              </a>
           </div>
        </div>
        <!-- end featured -->
        <!-- other sponsors -->
        <div class="col m-auto col-lg-8">
          <div class="row">
              <div class="col-4 col-md-3 m-auto d-lg-none">
                  <div class="photo-container">
                      <a href="/ajax/homeSmart.html" class="ajax-popup2">
                        <img src="img/logoHomeSmart.png" alt="photo" class="img-fluid photo-img my-2">
                        <h1 class="title3 photo-link">View Bio</h1>
                       </a>
                 </div>
                </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/sebis.html" class="ajax-popup2">
                    <img src="img/logoSebis.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/yum.html" class="ajax-popup2">
                    <img src="img/logoYum.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/buchaBelly.html" class="ajax-popup2">
                    <img src="img/logoBuchaBelly.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/whistlePig.html" class="ajax-popup2">
                    <img src="img/logoWhistlePig.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/EO.html" class="ajax-popup2">
                    <img src="img/logoEO.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/launchParty.html" class="ajax-popup2">
                    <img src="img/logoLaunchParty.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/FC.html" class="ajax-popup2">
                    <img src="img/logoFC.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
            <div class="col-4 col-md-3 m-auto">
              <div class="photo-container">
                  <a href="/ajax/YOPS.html" class="ajax-popup2">
                    <img src="img/logoYPOS.png" alt="photo" class="img-fluid photo-img my-2">
                    <h1 class="title3 photo-link">View Bio</h1>
                   </a>
             </div>
            </div>
        </div>
      </div>
      <!-- end other sponsors -->
    </div>
    <!-- end sponsors row -->
  </div>
</div>
</div>

<!--TEAM SECTION-->
<section id="team" class="snap-child">
  <div class="container-fluid">
      <div class="row full-page text-center d-flex align-items-center justify-content-center">
        <div class="col max-width">
          <!--	title row-->
        <div class="row">
          <div class="col mx-auto text-center pb-3">
            <h1 class="title1">Meet the Team</h1>
          </div>
        </div>
        <!--end of title row-->
        <div class="row">
          <div class="col-6 col-lg-4 m-auto">
              <div class="team-photo-container">
                <!-- <a href="/ajax/bartek.html" class="ajax-popup"> -->
                  <a href="https://www.facebook.com/nowiesz">
                  <picture>
                    <source srcset="img/teamBartek.webp" type="image/webp"  class="img-fluid mx-auto team-photo-img">
                    <source srcset="img/teamBartek.jpg" type="image/jpeg"  class="img-fluid mx-auto team-photo-img">
                    <img src="img/teamBartek.jpg" alt="photo" class="img-fluid mx-auto team-photo-img">
                  </picture>
                  <div class="team-photo-link"><i class="fab fa-facebook-f fa-lg"></i></div>
                </a>
              </div>
              <h1 class="title3 mt-2">Bartek Nowierski</h1>
              <h1 class="title5 mb-2"><a href="mailto:bartek@seattlesocialcircle.com"><i style="color:var(--mainBlack);" class="far fa-envelope"></i></a> Title</h1>
          </div>
          <!--end of team col-->
          <div class="col-6 col-lg-4 m-auto">
              <div class="team-photo-container">
                  <!-- <a href="/ajax/jas.html" class="ajax-popup"> -->
                    <a href="https://www.facebook.com/profile.php?id=873285098">
                    <picture>
                      <source srcset="img/teamJas.webp" type="image/webp"  class="img-fluid mx-auto team-photo-img">
                      <source srcset="img/teamJas.jpg" type="image/jpeg"  class="img-fluid mx-auto team-photo-img">
                      <img src="img/teamJas.jpg" alt="photo" class="img-fluid mx-auto team-photo-img">
                    </picture>
                    <h1 class="title3 team-photo-link"><i class="fab fa-facebook-f fa-lg"></i></h1>
                  </a>
                </div>
                <h1 class="title3 mt-2">Jas Banwait</h1>
                <h1 class="title5 mb-2"><a href="mailto:jas@seattlesocialcircle.com"><i style="color:var(--mainBlack);" class="far fa-envelope"></i></a> President</h1>
          </div>
          <!--end of team col-->
          <div class="col-6 col-lg-4 m-auto">
              <div class="team-photo-container">
                  <!-- <a href="/ajax/ani.html" class="ajax-popup"> -->
                    <a href="https://www.facebook.com/virtuous.lorde">
                    <picture>
                      <source srcset="img/teamAni.webp" type="image/webp"  class="img-fluid mx-auto team-photo-img">
                      <source srcset="img/teamAni.jpg" type="image/jpeg"  class="img-fluid mx-auto team-photo-img">
                      <img src="img/teamAni.jpg" alt="photo" class="img-fluid mx-auto team-photo-img">
                    </picture>
                    <h1 class="title3 team-photo-link"><i class="fab fa-facebook-f fa-lg"></i></h1>
                  </a>
                </div>
                <h1 class="title3 mt-2">Ani Nguyen</h1>
                <h1 class="title5 mb-2"><a href="mailto:ani@seattlesocialcircle.com"><i style="color:var(--mainBlack);" class="far fa-envelope"></i></a> Title</h1>
          </div>
          <!--end of team col-->
        </div>
        </div>
      </div>
  </div>
</section>


<% include ./partials/footer %>