@font-face {
	font-family: 'Conv_Neutra-Text-Light-Alt-Demi_32113';
	src: url('/css/fonts/Neutra-Text-Light-Alt-Demi_32113.eot');
	src: local('☺'), url('/css/fonts/Neutra-Text-Light-Alt-Demi_32113.woff') format('woff'), url('/css/fonts/Neutra-Text-Light-Alt-Demi_32113.ttf') format('truetype'), url('/css/fonts/Neutra-Text-Light-Alt-Demi_32113.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Gotham-Book';
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
:root{
    --mainBlue:#3626A7;
    --mainWhite:#FFF;
    --secondWhite:#FAFAFA;
    --mainBlack:#070707;
    --secondBlack:#474747;
    --mainRed:#F8A1BE;
    --mainGreen:#41C891;
    --mainYellow:#FFE153;
    --darkGrey:#A0A4B8;
    --lightGrey:#D8DDEF;
    --transparent:rgba(0,0,0,0.4);
}
/*BACKGROUND COVER/FIXED SOLUTION*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
     .spring-banner,.charity-banner,.winter-banner,.summer-banner,.upcoming-banner,.past-banner,.holiday-banner { background-attachment: scroll !important; }
}

@media handheld, only screen and (max-width: 668px) {
     .spring-banner,.charity-banner,.winter-banner,.summer-banner,.upcoming-banner,.past-banner,.holiday-banner { background-attachment: scroll !important; }
}
body{
    font-family: 'Conv_Neutra-Text-Light-Alt-Demi_32113', Sans-Serif;
    background:var(--mainWhite);
    color:var(--mainBlack);
}
.snap-container {
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}

.snap-child {
  scroll-snap-align: start;
}
.full-page {
  min-height: 100vh;
}
.gotham{
    font-family: 'Conv_Gotham-Book', Sans-Serif;
}
.text-shadow{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
.off-white{
    background-color:var(--secondWhite);
}
/*HEADERS*/
.title1{
    color:var(--mainWhite);
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
.title2a{
    color: var(--mainYellow);
}
@media screen and (min-width: 768px) {
  .title1 {
    font-size: 90px;
  }
}
@media screen and (max-width: 767px) {
  .title1 {
    font-size: 55px;
  }
}
@media screen and (min-width: 768px) {
  .title2, .title2a {
    font-size: 60px;
  }
}
@media screen and (max-width: 767px) {
  .title2, .title2a {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .title3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .title3 {
    font-size: 30px;
  }
}
/*YOUTUBE VIDEOS*/
.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #070707;
}
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}
/*BANNER IMAGES*/
.upcoming-banner,
.holiday-banner,
.winter-banner,
.charity-banner,
.summer-banner,
.spring-banner {
  min-height: 65vh;
}
/*NAVBAR*/
.navbar-background{
    background-color:var(--transparent);
    animation:fromTop;
    animation-duration:2s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index:50;
}
@keyframes fromTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;

  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.navbar-brand{
    color:var(--mainWhite);
    transition-property:color;
    transition-duration:0.3s;
    transition-timing-function:linear;
}
.navbar-brand:hover{
    color:var(--mainYellow);
}
.nav-link{
    color:var(--mainWhite);
    transition-property:color;
    transition-duration:0.3s;
    transition-timing-function:linear;
    text-align: right;
    font-family: 'Conv_Gotham-Book', Sans-Serif;
}
.nav-link:hover{
    color:var(--mainGreen);
}
.navbar-toggler{
    outline: none!important;
}
.toggler-btn{
    transition:all 2s ease;
}
.bar{
    width:30px;
    height:3px;
    margin:5px;
    background:var(--mainWhite);
    transition: all 0.5s ease;
}
.change .bar1{
    transform:rotate(-45deg) translate(-5.5px,6px);
}
.change .bar2{
    opacity:0;
}
.change .bar3{
    transform:rotate(45deg) translate(-5.5px,-6px);
}
/*BUTTONS*/
.page-btn {
  color: var(--mainBlack);
  border: 2px solid var(--mainBlack);
  padding: 15px 45px;
  font-size: 20px;
  transition: all 1s;
  text-transform: uppercase;
  font-family: 'Conv_Gotham-Book', Sans-Serif;
  box-shadow:   0px 1px 2px rgba(0, 0, 0, 0.3);
}
.page-btn:hover {
  color: var(--mainWhite);
  background: var(--secondBlack);
  border-color: var(--secondBlack);
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  text-shadow: none;
}
.contact-btn {
  color: var(--mainBlack);
  background: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 15px 45px;
  font-size: 20px;
  transition: all 1s;
  text-transform: uppercase;
  font-family: 'Conv_Gotham-Book', Sans-Serif;
  box-shadow:   0px 1px 2px rgba(0, 0, 0, 0.3);
}
.contact-btn:hover {
  color: var(--mainGreen);
  background: var(--mainWhite);
  border-color: var(--mainWhite);
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.banner-btn {
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 15px 45px;
  font-size: 20px;
  transition: all 1s;
  text-transform: uppercase;
  font-family: 'Conv_Gotham-Book', Sans-Serif;
  box-shadow:   0px 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
			    0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}
.banner-btn:hover {
  color: var(--mainBlack);
  background: var(--mainWhite);
  border-color: var(--mainWhite);
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  text-shadow: none;
}
.team-btn{
    background-color: var(--lightGrey);
    color: var(--mainBlack);
    padding: 5px 27px;
    font-size: 15px;
    cursor: pointer;
    transition: all 1s;
    font-family: 'Conv_Gotham-Book', Sans-Serif;
}
.team-btn:hover{
    background-color: var(--mainBlack);
    color: var(--lightGrey);
    transform: translateY(-5px);
}
/*HOME SECTION*/
.home{
    position:relative;
    min-height: 100vh;
    max-width: 100vw;
    margin:0 auto;
}
.video-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-3;
    overflow: hidden;
}
.video-item{
    width:100%;
    height:100%;
    object-fit: cover;
}
/*ABOUT SECTION*/
.pillar-icon{
  font-size: 3rem;
}
/*SPONSOR LOGOS*/
.photo-container{
    position:relative;
}
.photo-img{
    transition: 0.7s all ease-in-out;
}
.photo-container:hover .photo-img {
  opacity: 0;
}
.photo-link{
    position:absolute;
    top:50%;
    left:50%;
    opacity: 0;
    border-radius: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    transform:translate(-50%, -50%);
    color:var(--mainWhite);
    transition:0.7s all ease-in-out;
}
.photo-container:hover .photo-link{
    opacity:1;
}
/*EVENT PHOTOS*/
.event-photo-container{
    position:relative;
    overflow:hidden;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    /*transition: 0.5s all ease-in-out;*/
}
.event-photo-img{
    transition: 0.7s all ease-in-out;
}
.event-photo-link{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:var(--mainWhite);
    transition:0.5s all ease-in-out;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
.event-photo-container:hover .event-photo-link{
    font-size: 2rem;
}
.event-photo-container:hover .event-photo-img {
  transform: scale(1.1);
  opacity: 0.8;
}
/*UPCOMING SECTION*/
.webp .upcoming-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/upcomingGOT.webp) center/cover fixed no-repeat;
}
.no-webp .upcoming-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/upcomingGOT.jpg) center/cover fixed no-repeat;
}
.no-padding {
  padding: 0;
}
/*WINTER SOIREE SECTION*/
.webp .winter-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/winterBackground.webp)center/cover fixed no-repeat;
}
.no-webp .winter-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/winterBackground.jpg)center/cover fixed no-repeat;
}
.text-shadow-blue{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1),
                 7px 15px 26px rgba(163,255,248,0.6),
				 14px 34px 50px rgba(163,255,248,0.3),
				 26px 50px 75px rgba(163,255,248,0.1);
}
/*CHARITY GALA SECTION*/
.text-shadow-gold{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1),
                 3px 7px 18px rgba(211,180,2,0.6),
				 6px 14px 24px rgba(211,180,2,0.3),
				 8px 20px 30px rgba(211,180,2,0.1);
}
.webp .charity-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/charityBackground.webp)center/cover fixed no-repeat;
    display:flex;
}
.no-webp .charity-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/charityBackground.jpg)center/cover fixed no-repeat;
    display:flex;
}

/*SUMMER SOIREE SECTION*/
.text-shadow-red{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1),
                 3px 7px 18px rgba(239,123,45,0.6),
				 6px 14px 24px rgba(239,123,45,0.3),
				 8px 20px 30px rgba(239,123,45,0.1);
}
.webp .summer-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/summerBackground.webp)center/cover fixed no-repeat;
    display:flex;
}
.no-webp .summer-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/summerBackground.jpg)center/cover fixed no-repeat;
    display:flex;
}
.circle-photo{
    border-radius: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
}
/*SPRING SOIREE SECTION*/
.text-shadow-purple{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1),
                 3px 7px 18px rgba(139,58,252,0.6),
				 6px 14px 24px rgba(139,58,252,0.3),
				 8px 20px 30px rgba(139,58,252,0.1);
}
.webp .spring-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/springBackground.webp)center/cover fixed no-repeat;
    display:flex;
}
.no-webp .spring-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/springBackground.jpg)center/cover fixed no-repeat;
    display:flex;
}

/*HOLIDAY MIXER SECTION*/
.webp .holiday-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/holidayMixerBG.webp)center/cover fixed no-repeat;
}
.no-webp .holiday-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/holidayMixerBG.jpg)center/cover fixed no-repeat;
}
/*TEAM SECTION*/
.card{
    background-color: var(--lightGrey);
}
.card-footer{
    background-color: var(--darkGrey);
}
#team .card img {
  margin-top: -50px;
}
.team-icon {
  color: var(--mainBlack);
  font-size:2rem;
}
/*CONTACT SECTION*/




/*FOOTER*/
.footer{
    background-color: var(--secondBlack);
    color:var(--mainWhite);
}
.footer-icon{
    color:var(--mainWhite);
    font-size:3rem;
    transition:0.5s all ease-in-out;
}
.footer-icon:hover{
    color:var(--mainGreen);
}
/*EVENTS PAGE*/
.webp .past-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/pastBanner.webp)center/cover no-repeat;
  min-height: 100vh;
}
.no-webp .past-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/pastBanner.jpg)center/cover no-repeat;
  min-height: 100vh;
}